{% extends 'base_no_sidebar.jinja2' %}

{% from 'macros/comments.jinja2' import comment_tag_options_template, render_single_comment with context %}
{% from 'macros/links.jinja2' import group_linked %}

{% block title %}Unread notifications{% endblock %}

{% block main_heading %}Unread notifications{% endblock %}

{% block content %}
{% if notifications %}
  <ol class="post-listing post-listing-notifications">
  {% for notification in notifications: %}
    <li>
      {% if notification.is_comment_reply %}
        <h2>Reply to your comment on <a href="{{ notification.comment.topic.permalink }}">{{ notification.comment.topic.title }}</a> in {{ group_linked(notification.comment.topic.group.path) }}</h2>
      {% elif notification.is_topic_reply %}
        <h2>Reply to your topic <a href="{{ notification.comment.topic.permalink }}">{{ notification.comment.topic.title }}</a> in {{ group_linked(notification.comment.topic.group.path) }}</h2>
      {% endif %}

      {% if notification.is_unread and not request.user.auto_mark_notifications_read %}
        <button
          class="btn btn-link-minimal ml-2"
          data-ic-put-to="{{ request.route_url(
            'ic_comment_mark_read',
            comment_id36=notification.comment.comment_id36,
          ) }}"
          data-js-fadeout-parent-on-success
        >Mark as read</button>
      {% endif %}
      {{ render_single_comment(notification.comment) }}
    </li>
  {% endfor %}
  </ol>
{% else %}
  <p>No unread notifications.</p>
  <p><a href="/notifications">Go to previously read notifications</a></p>
{% endif %}

{{ comment_tag_options_template(comment_tag_options) }}
{% endblock %}
